.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home_header a {
  margin-right: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.home_headerRight {
  justify-content: space-between;
  align-items: center;
  display: flex;
  min-width: 13vw;
}

.home_headerleft {
}

.home_headerRight > .MuiSvgIcon-root {
  cursor: pointer;
  margin-right: 20px;
}

.home_body > img {
  margin-left: auto;
  margin-right: auto;
}

.home_body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}

.buttonContained {
  margin-top: 10px;

  justify-content: space-between;
  display: flex;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.searchContainer {
  align-items: center;
}
